*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  min-width: 1400px;
}

/* class utility */
.container{
  width: 70%;
  margin: auto;
}
/* clearfix */
.clearfix{
  content: "";
  display: table;
  clear: both;
}
/* float_left */
.float_left{
  float: left;
}
/* float_right */
.float_right{
  float: right;
}
/* celeste chiaro, sfondo nav_top, main 1parte, 3parte */
.bg_cel{
  background: #F4F9FD;
}
/* arancione */
.bg_btn{
  background: #FE775A;
}
/* blu scuro */
.col_text{
  color: #33475B;
}
/* blu scuro */
.bg_footer{
  background: #32495B;
}
/* /class utility */


/* hover */

/* hover header */

.nav_top div.float_left a:hover, .nav_bottom .float_right a:hover{
  color: #FE775A;
}

#btn_center:hover{
  color: blue;
  border-color: blue;
}

.nav_top div.float_right a:first-child:hover{
  color: #FE775A;
}
/* /hover header */

/* main hover */

main #sect_1 .sect_1_bottom_left a:hover{
  background-color: rgba(254, 119, 90, 0.7);
}

.sect_2_colonna a:hover{
  background-color: rgba(254, 119, 90, 0.7);
}

#sect_4 .sect_4_box_bottom_left a:hover{
  background-color: rgba(254, 119, 90, 0.7);
}

/* /main hover */

/* footer hover */

footer .footer_top_div_box a:hover{
  color: #84efe8;
}

footer #btn_footer:hover{
  background-color: rgba(255, 255, 255, 0.7);
}

footer .footer_bottom_div_language a:hover{
  color: #84efe8;
}

footer .footer_bottom_div_copy_right a:hover{
  color: #84efe8;
}

/* /footer hover */
/* /hover */


/* hover visited active button titolo e button nav_top right  */
header div.titolo a:hover, #btn_right:hover{
  background-color: rgba(254, 119, 90, 0.7);
}

header div.titolo a:visited, #btn_right:visited{
  /* color: blue; */
}

header div.titolo a:active, #btn_right:active{
  color: red;
}
/* /hover visited active button titolo */
/* /hover visited active */

/* header */

/* nav_top float_right and nav_bottom float_right */
nav div.float_right{
  text-align: right;
  width: 65%;
  height: 100%;
}
/* /nav_top float_right and nav_bottom float_right */


/* nav top */
.nav_top{
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 80px;
  line-height: 80px;
  width: 100%;
  min-width: 1000px;
  border-bottom: 1px solid black;
}

nav div a{
  text-decoration: none;
}


/* nav top left */
.nav_top div.float_left{
  width: 35%;
  height: 100%;
}

.nav_top div.float_left a{
  color: #33475B;
}

.nav_top div.float_left a:first-child{
  padding-right: 15px;
  border-right: 1px solid black;
  margin-right: 15px;
}
/* /nav top left */

/* nav top right */
#btn_right{
  margin-left: 20px;
  padding: 12px 14px;
  border-radius: 10px;
  color: white;
}

#btn_center{
  margin-left: 20px;
  padding: 12px 14px;
  border: 1px solid #FE775A;
  border-radius: 10px;
  color: #FE775A;
}

.nav_top div.float_right a:first-child {
  color: #0aaac9;
}
/* /nav top right */
/* /nav top */

/* nav bottom */
.nav_bottom{
  width: 100%;
  height: 80px;
  margin-top: 80px;
  line-height: 80px;
}

.nav_bottom .logo img{
  margin-top: 25px;
}

/* nav bottom right */
.nav_bottom .float_right a{
  color: #33475B;
}

.nav_bottom .float_right a > span{
  padding: 0 14px;
}

/* /nav bottom right */
/* /nav bottom */

/* div background image e titolo */
header div.bg_img{
  height: 695px;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-size: 100% 790px;
  background-repeat: no-repeat;
}

div.bg_img > div.container{
  position: relative;
  height: 100%;
}

div.bg_img  div.titolo{
  width: 50%;
  position: absolute;
  top: 50px;
  left: 0;
}

header div.titolo h1{
  font-size: 2.8em;
  margin-bottom: 25px;
}

header div.titolo p{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75em;
  margin-bottom: 25px;
}

header div.titolo a{
  padding: 20px 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  color: white;
}

header div.titolo span{
  font-size: 12px;
}

/* /div titolo e background image */

/* div background color */

header div.background{
  height: 80px;
  width: 100%;
  background: #AFEBE4;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* /div background color */
/* /header */


/* main */
/* prima sezione */
/* prima sezione top */
main #sect_1 .sect_1_top{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 50px;
}

main #sect_1 .sect_1_top h2{
  font-size: 2em;
  padding: 20px;
}

main #sect_1 .sect_1_top p{
  padding: 25px;
  line-height: 2em;
}
/* /prima sezione top */

/* prima sezione bottom */
/* prima sezione bottom left */
#sect_1 .sect_1_bottom{
  background-color: white;
  border-radius: 10px;
  padding: 50px 5%;
}

main #sect_1 .sect_1_bottom_left{
  width: 25%;
  height: 300px;
  text-align: center;
}

main #sect_1 .sect_1_bottom_left img{
  height: 200px;
  padding: 50px 0;
}

main #sect_1 .sect_1_bottom_left a{
  padding: 20px 25px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  color: white;
}
/* /prima sezione bottom left */

/* prima sezione bottom right */
main #sect_1 .sect_1_bottom_right{
  width: 75%;
  padding: 50px;
  height: 300px;
}

main #sect_1 .sect_1_bottom_right h3{
  font-size: 25px;
  padding-bottom: 30px;
}

main #sect_1 .sect_1_bottom_right p{
  line-height: 2em;
  padding-bottom: 30px;
}

.sect_1_bottom_right_h4, .sect_1_bottom_right_hr {
  display: inline-block;
}

.sect_1_bottom_right_h4{
  width: 30%;
}

.sect_1_bottom_right_hr{
  width: 65%;
  height: 11px;
  vertical-align: middle;
}

main #sect_1 .sect_1_bottom_right hr{
  height: 1px;
  border: none;
  background-color: black;
  margin: 5px 0;
}

main #sect_1 .sect_1_bottom_right div:last-of-type{
  margin-top: 30px;
}

main #sect_1 .sect_1_bottom_right i{
  color: #FE775A;
  padding-right: 10px;
}

main #sect_1 .sect_1_bottom_right span{
  padding-right: 10px;
}
/* /prima sezione bottom right */
/* /prima sezione bottom */
/* /prima sezione */

/* seconda sezione */

#sect_2{
  padding: 50px 0;
}

.sect_2_colonna{
  width: 30%;
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  border: 1px solid lightgrey;
}

.sect_2_colonna img{
  height: 100px;
}

.sect_2_colonna p{
  height: 200px;
  line-height: 2em;
}

.sect_2_colonna h3:first-of-type{
  font-size: 24px;
  padding: 30px 0;
  color: #33475B;
}

.sect_2_colonna h3{
  font-size: 20px;
  padding: 30px 0;
  color: #33475B;
}

.sect_2_colonna div{
  text-align: left;
  padding-bottom: 80px;
}

.sect_2_colonna div i{
  color: #FE775A;
  padding-right: 15px;
}

.sect_2_colonna a{
  text-decoration: none;
  padding: 20px 35px;
  border-radius: 10px;
  color: white;
  display: inline-block;
}

#sect_2 .sect_2_colonna:nth-child(2){
  margin: 0 5%;
}
/* /seconda sezione */


/* terza sezione */
/* terza sezione top*/

#sect_3{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
  padding: 50px 0;
  text-align: center;
}

.sect_3_top h2{
  font-size: 30px;
  margin-bottom: 30px;
}

.sect_3_top p{
  margin-bottom: 50px;
}


/* /terza sezione top*/

/* terza sezione bottom */
/* terza sezione bottom table top */
.sect_3_table_top{
  width: 100%;
}

.sect_3_table_top > div{
  width: 25%;
  padding: 25px 0;
}

.sect_3_table_top img{
  height: 45px;
}

.sect_3_table_top h2{
  font-size: 45px;
  padding: 15px 0
}

.sect_3_table_top h2 span{
  font-size: 25px;
  vertical-align: middle;
}

.sect_3_table_top p{
  font-size: 12px;
}

.sect_3_table_top .box_1, .sect_3_table_top .box_2, .sect_3_table_top .box_3{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.sect_3_table_top .box_4{
  border-bottom: 1px solid white;
}

/* /terza sezione bottom table top */

/* terza sezione bottom table bottom */
.sect_3_table_bottom{
  width: 100%;
}

.sect_3_table_bottom > div{
  width: 25%;
  padding: 25px 0;
}

.sect_3_table_bottom img{
  height: 45px;
}

.sect_3_table_bottom h2{
  font-size: 45px;
  padding: 15px 0
}

.sect_3_table_bottom h2 span{
  font-size: 25px;
  vertical-align: middle;
}

.sect_3_table_bottom p{
  font-size: 12px;
}

.sect_3_table_bottom .box_1, .sect_3_table_bottom .box_2, .sect_3_table_bottom .box_3{
  border-right: 1px solid white;
}

/* /terza sezione bottom table bottom */
/* /terza sezione bottom */
/* /terza sezione */

/* quarta sezione */

#sect_4 .sect_4_box{
  padding: 50px 0;
}

/* quarta sezione top */

#sect_4 .sect_4_box_top{
  width: 100%;
  padding-bottom: 50px;
}

/* quarta sezione top left */

#sect_4 .sect_4_box_top_left{
  width: 30%;
  padding-left: 50px;
}
#sect_4 .sect_4_box_top_left h2{
  font-size: 50px;
  padding-bottom: 40px;
}

#sect_4 .sect_4_box_top_left span{
  line-height: 1.7em;
}

#sect_4 .sect_4_box_top_left span > span{
  font-weight: 600;
}

/* /quarta sezione top left */

/* quarta sezione top right */

#sect_4 .sect_4_box_top_right{
  width: 60%;
  padding: 10px 0px;
  text-align: center;
}

#sect_4 .sect_4_box_top_right img{
  width: 24%;
  padding: 15px 20px;
  vertical-align: middle;
}

/* /quarta sezione top right */
/* /quarta sezione top */

/* quarta sezione bottom */

#sect_4 .sect_4_box_bottom{
  width: 100%;
}

/* quarta sezione bottom left */

#sect_4 .sect_4_box_bottom .sect_4_box_bottom_left{
  width: 40%;
}

#sect_4 .sect_4_box_bottom_left h2{
  font-size: 30px;
  padding: 40px 0;
}

#sect_4 .sect_4_box_bottom_left p{
  line-height: 1.7em;
  margin-bottom: 40px;
}

#sect_4 .sect_4_box_bottom_left a{
  text-decoration: none;
  padding: 20px 35px;
  border-radius: 10px;
  color: white;
  display: inline-block;
  margin-bottom: 30px;
}

#sect_4 .sect_4_box_bottom_left span{
  font-size: 12px;
}
/* /quarta sezione bottom left*/

/* quarta sezione bottom right*/
#sect_4 .sect_4_box_bottom_right{
  width: 40%;
  text-align: right;
}

#sect_4 .sect_4_box_bottom_right img{
  height: 350px;
}

/* /quarta sezione bottom right*/
/* /quarta sezione bottom */
/* /quarta sezione */
/* /main */

/* footer */

footer{
  background-color: #2d3e50;
  color: white;
}

footer div.container{
  padding: 50px 0;
}

/* footer top div */
footer .footer_top_div{
  width: 100%;
  padding-bottom: 50px;
}

/* footer top div box */

footer .footer_top_div_box{
  width: 25%;
}

footer .footer_top_div_box h5{
  font-size: 16px;
  margin-bottom: 15px;
}

footer .footer_top_div_box a{
  text-decoration: none;
  color: white;
  margin: 10px 0;
  display: inline-block;
  font-weight: 300;
}

footer #btn_footer{
  padding: 8px;
  border-radius: 7px;
  background-color: white;
  color: #2d3e50;
}

footer .footer_top_div_box i{
  margin-top: 15px;
  margin-right: 25px;
}
/* /footer top div box */
/* /footer top div */

/* footer bottom div */

footer .footer_bottom_div{
  width: 100%;
}

footer .footer_bottom_div_language{
  width: 100%;
  border-bottom: 1px solid white;
  text-align: center;
  padding-bottom: 20px;
}

footer .footer_bottom_div_language a{
  color: white;
  text-decoration: none;
  font-weight: 300;
  margin: 0 20px;
}

footer .footer_bottom_div_copy{
  width: 100%;
  margin-top: 40px;
}

footer .footer_bottom_div_copy_left{
  width: 30%;
}

footer .footer_bottom_div_copy_right{
  width: 30%;
  text-align: right;
}

footer .footer_bottom_div_copy_right a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
/* /footer bottom div */
/* /footer */
